

.geral{
  background-color: rgba(188, 188, 188, 0.1);
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;

}

.modal{
  width: 400px;
  background-color: aliceblue;
  position: relative;
  top: 100px;
  border-radius: 20px;
}

.font-red{
  color: rgb(185, 19, 19)!important;
  border-top: 5px solid rgb(185, 19, 19)!important;
  border-left: 5px solid rgb(185, 19, 19)!important;
}

.fundo-red{
  background-color: rgb(185, 19, 19)!important;
}

.topo-modal{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  .topo-modal span{
    border-top-left-radius: 20px;
    border-top: 5px solid rgb(47, 85, 209);
    border-left: 5px solid rgb(47, 85, 209);
    color: rgb(47, 85, 209);
    padding: 15px;
    font-size: 20px;
    font-weight: 900;
  }

  .botao{
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
  }

    .icon{
      color: rgb(116, 116, 116);
      font-weight: 900;
    }

.corpo-modal{
  display: flex;
  align-items: center;
  flex-direction: column;
}

  .corpo-modal .div-input{
    width: 90%;
  }

  .salvar{
    background-color: transparent;
    width: 90%;
    height: auto;
    border: none;
    background-color: rgb(47, 85, 209);
    padding: 10px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 20px;
    color: aliceblue;
    font-weight: 600;
  }

